
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  background-color : #F7FF00 ;
  color :#424242 ;
  font-family: 'Press Start 2P', sans-serif ;
  
}
#cellContainer{
  display :grid ;
  grid-template-columns :repeat(3, auto);
  width :240px ;
  margin :30px auto  ;
  line-height :80px ;
  font-size :35px ;
  border-radius :5px ;
  padding :5px ;
  padding-right :7px ;
  box-shadow : 0 0 0 3px #424242 ;
  
}
.cell{
  width :80px;
  height :80px;
  border :.1px solid  #F7FF00 ;
  font-weight : 800;
  cursor :pointer ; 
  z-index :0;
  background-color :#424242 ;  
  color :#fff ;
}
#gameContainer{
  text-align :center ;

}
#gameContainer h3{
  margin :0 auto ;
  margin-top :20px ;
  margin-bottom :-15px ;
  border-radius :5px ;
  padding :10px 5px ;
  font-weight :900 ;
  width :242px ;
  box-shadow :0 0 0 3px #424242 ;
}
#gameContainer h4{
  margin :0 auto ;
  margin-top :-15px ;
  border-radius :5px ;
  padding :10px 6px ;
  font-weight :900 ;
  width :240px ;
  box-shadow : 0 0 0 3px #424242 ;
}
button {
  padding :20px 10px ;
  background-color :#424242;  
  margin :20px ;
  border :none ;    
  border-radius :50px ; 
  font-weight :900 ;
  color :#fff ;
}
.winning-cell {
  background-color: #F7FF00 ;
  color :#424242 ;
  box-shadow :inset 0 0 0 1px #424242 ;
}
.one{
  border-radius :5px 0 0 0 ;
}
.three{
  border-radius : 0 5px 0 0 ;
}
.seven{
  border-radius : 0 0 0 5px ;
}
.nine{
  border-radius : 0 0 5px 0 ;
}
